
.perfil{
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 250px;
    display: inline-block;
}


h2{
    color: blue;
    font-size: 20px;
}

p{
    color: blue;
}

