/*Aquest fitxer conté els ESTILS ENCAPSULATS --> només afecten a aquest component
.titol --> en aquest component
.titol (app.css) --> OK NO HI HA CONFLICTE
*/

.tarjeta{
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 250px;
    display: inline-block;
}

h2{
    color: #1f4e79;

}